{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <h1>BLABLABLA JE SUIS LE HEADER</h1>
    </header>
    <section>
        <h1>BLABLABLA JE SUIS LA PREMIERE SECTION</h1>
    </section>
    <section>
        <h1>BLABLABLA JE SUIS LA DEUXIEME SECTION</h1>
    </section>
    <section>
        <h1>BLABLABLA JE SUIS LA TROISIEME SECTION</h1>
    </section>
{% endblock %}
