<footer class="bg-purple text-white py-5">
    <div class="container">
        <div class="d-flex justify-content-end">
            <a href="#" class="text-white me-3">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="#" class="text-white me-3">
                <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
            <a href="#" class="text-white">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
        <div class="row">
            <!-- Logo et description -->
            <div class="col-md-3">
                <img src="/images/LogoFooter.png" class="w-75">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h1>HOPE</h1>
                <p>
                    HOPE est une plateforme éducative qui vous aide à naviguer dans les études et offres éducatives.
                    Créez des modules interactifs, des consultations et adoptez un large éventail de services en ligne tout en gardant vos données en sécurité.
                </p>
            </div>
            <!-- Liens -->
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h5>Découvrir Hope</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Ressources éducatives</a></li>
                    <li><a href="#" class="text-white">Offres</a></li>
                    <li><a href="#" class="text-white">Connexion / Inscription</a></li>
                    <li><a href="#" class="text-white">Service après vente</a></li>
                    <li><a href="#" class="text-white">Politique de confidentialité</a></li>
                </ul>
            </div>
            <!-- Contact et réseaux sociaux -->
            <div class="col-md-3">
                <h5 class="ms-5">Contacts</h5>
                <p>
                    50 rue de la création,<br>
                    Montpellier 34000<br>
                    <a href="mailto:hope@contact.fr" class="text-white">hope@contact.fr</a><br>
                    04 34 12 00 02
                </p>
            </div>
        </div>
    </div>
</footer>