{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <header>
        <h1>BLABLABLA JE SUIS LE HEADER</h1>
    </header>
    <section>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Tu es déjà connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="name-user" class="form-label">name</label>
                <input type="text" class="form-control" id="name-user" name="name-user" required>
            </div>
            <div class="mb-3">
                <label for="pswd-user" class="form-label">Password</label>
                <input type="password" class="form-control" id="pswd-user" name="pswd-user" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
{% endblock %}
